<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>阳光的味道的日记</title>
</head>
<body style="">

<h1 style="color: black;text-align: center;">阳光的味道的日记</h1>

<div style="padding-left: 100px;">
<li style="font-size: 2em;">OC</li>
<li style="font-size: 2em;">Swift</li>
<li style="font-size: 2em;">ReactNative</li>
<li style="font-size: 2em;">Python</li>
<li style="font-size: 2em;">小程序</li>
<li style="font-size: 2em;">数据库</li>
<li style="font-size: 2em;">小游戏</li>
<li style="font-size: 2em;">Flutter</li>
</div>

<p style="line-height: 66px;color: #9b9b9b;text-align: left;font-weight: 600; margin-left: 100px;">豫ICP备18008739号</p>

</body>
</html>